body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.tab {
    overflow: hidden;
    border-bottom-color: #FFFFFF;
    background-color: #E2E2E2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabbutton {
    overflow: hidden;
    border-bottom-color: #FFFFFF;
    background-color: #E2E2E2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 70px;
    margin-top: 19px;
}

.tabbutton button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    margin-top: 2%;
    width: 121px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 32px;
}

.tabbutton button:hover {
    background-color: #ddd;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #FFFFFF;
    border-top: none;
    color: aqua;
    width: 100%
}

.tabbutton button.active {
    background-color: #FFFFFF;
}

.newtab {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    margin-top: 1%;
    margin-right: 10px;
    width: 121px;
    border-radius: 50px;
    height: 32px;
    background-color: black;
    color: #FFFFFF;
}

.newnote {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    margin-top: 2%;
    width: 32px;
    border-radius: 50px;
    height: 32px;
    background-color: #F65151;
    color: #FFFFFF;
}

.new-tab-note {
    margin: 10px;
}


/* style for note  */

.note {
    min-height: 200px;
    min-width: 200px;
    width: 200px;
    background-color: #f8f8f8;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    resize: both;
    overflow: auto;
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    cursor: pointer;
    visibility: hidden;
}

.note:hover .bottom {
    visibility: visible;
}

.colors div {
    margin: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.colors {
    display: flex;
}

.delete {
    background-color: red;
    color: white;
    margin: 5px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.white {
    background-color: white;
}

.green {
    background-color: #cdfcb6;
}

.blue {
    background-color: #b6d7fc;
}

.red {
    background-color: #feaeae;
}


/* drag and drop  */

.resize {
    width: 200px;
    min-height: 200px;
    min-width: 200px;
}